/* line 3, ../sass/styles.scss */
#body {
  max-width: 1000px;
  margin: 50px auto;
}

/* line 8, ../sass/styles.scss */
li {
  list-style-type: none;
}

/* line 12, ../sass/styles.scss */
#header {
  border-bottom: 1px solid #333333;
}

/* line 16, ../sass/styles.scss */
#headerNav {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

/* line 22, ../sass/styles.scss */
.header-nav li {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: 40px;
}

/* line 24, ../sass/styles.scss */
.content li {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

/* line 29, ../sass/styles.scss */
.content ul {
  padding: 0;
}

/* line 34, ../sass/styles.scss */
.project img {
  max-width: 300px;
}

/* line 39, ../sass/styles.scss */
.left {
  float: left;
  width: 50%;
}

/* line 44, ../sass/styles.scss */
.right {
  float: right;
  width: 50%;
}

/* line 49, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 53, ../sass/styles.scss */
.about li {
  display: block;
  text-align: left;
  list-style-type: disc;
}

/* line 59, ../sass/styles.scss */
.album li {
  display: block;
  text-align: left;
  float: center;
  clear: both;
  margin-bottom: 30px;
}
/* line 65, ../sass/styles.scss */
.album li p {
  margin-top: 2px;
}
/* line 69, ../sass/styles.scss */
.album img {
  max-width: 1000px;
}

/* line 74, ../sass/styles.scss */
.event {
  width: 100%;
  display: block;
  text-align: left;
}

/* line 79, ../sass/styles.scss */
#footer {
  margin-top: 10px;
  border-top: 1px solid #333333;
}
