/* line 1, ../sass/styles.scss */
#body {
  max-width: 1000px;
  margin: 50px auto;
}

/* line 6, ../sass/styles.scss */
li {
  list-style-type: none;
}

/* line 10, ../sass/styles.scss */
#header {
  border-bottom: 1px solid #333333;
}

/* line 14, ../sass/styles.scss */
#headerNav {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

/* line 32, ../sass/styles.scss */
.header-nav li {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: 40px;
}

/* line 34, ../sass/styles.scss */
.content li {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

/* line 39, ../sass/styles.scss */
.content ul {
  padding: 0;
}

/* line 43, ../sass/styles.scss */
.left {
  float: left;
  width: 50%;
}

/* line 48, ../sass/styles.scss */
.right {
  float: right;
  width: 50%;
}

/* line 53, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 57, ../sass/styles.scss */
.about li {
  display: block;
  text-align: left;
  list-style-type: disc;
}

/* line 62, ../sass/styles.scss */
.event {
  width: 100%;
  display: block;
  text-align: left;
}

/* line 67, ../sass/styles.scss */
#footer {
  margin-top: 10px;
  border-top: 1px solid #333333;
}
