#body {
    max-width: 1000px;
    margin: 50px auto;
}

li {
    list-style-type: none;
}

#header {
    border-bottom: 1px solid #333333;
}

#headerNav {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

@mixin inline-list($margin-right) {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: $margin-right;
}

@mixin block-list() {
    display: block;
    text-align: left;
}

.header-nav li { @include inline-list(40px); }

.content li { 
    @include inline-list(15px);
    margin-left: 15px; 
}

.content ul {
    padding: 0;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.clear {
    clear: both;
}

.about li {
    @include block-list();
    list-style-type: disc;
}

.event {
    width: 100%;
    @include block-list();
}

#footer {
    margin-top: 10px;
    border-top: 1px solid #333333;
}